<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    


  </head>
  <body>
   

    <ul class="nav justify-content-end py-3" >
    <!-- <li class="nav-item-logo">
        <a href="/"><img src="/images/navlogo.png" alt="logo" class="logo"></a>
    </li> -->

    <!-- NAVIGATION BAR -->
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">About us</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calculator" tabindex="-1" aria-disabled="true">Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">Login/Sign UP</a>
      </li>
    </ul>
    
    <!-- Abou us container -->
    <!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="https://img.freepik.com/premium-vector/aesthetics-pregnant-women-minimal-style-elegant-line-art_278222-2022.jpg?w=740" alt="About 1">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
             <h2 class="mb-3">About Us</h2> 
            <p class="abt_nawa_aama">“Nawa Aama" isn't just a website, it's like having a trusted friend by your side during the incredible journey of motherhood. We understand that becoming a new mother can be a deeply personal experience, and sometimes, it's not easy to open up about it, especially in today's digital age. Pregnant women often turn to the internet for answers, but we all know how overwhelming and uncertain that can be. "Nawa Aama" is here to be that trusted friend, offering a comforting and reliable space for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our team -->
<h2 class="Team_header">Meet Our Team</h2>
<div class="team" >
  <!-- <div class="row text-center" id="team-mom">
    Team item
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media.licdn.com/dms/image/D4D03AQHXS1fEX6Akdw/profile-displayphoto-shrink_800_800/0/1695812857040?e=1704931200&v=beta&t=7Da9YetA2OBrxSI4cUx3pCEDX-oyfYPIe7lHxKbSHgc" alt="Lhakpa Sherpa img" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Lhakpa Dolma Sherpa</h5><span class="small text-uppercase text-muted">Code Mom</span>
      </div>
  </div><!-- End -->

  <!-- Team item -->
  <!-- <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://media.licdn.com/dms/image/C4D03AQHocDO2BrzqqQ/profile-displayphoto-shrink_800_800/0/1658834046984?e=1704931200&v=beta&t=jGp6nz9bC4ASpQVXQUuQYgOUTPXO3h5Xk8MxHA9IDiI" alt="Prasidddhi Bhattrai image" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Prasiddhi Bhattarai</h5><span class="small text-uppercase text-muted">Group Mom</span>
      </div> -->
  <!-- </div> -->
  <!-- </div> -->
  </div>

    <div class="row text-center">
       <!-- Team item -->
    <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/63485374?v=4" alt="Jasmine Bajracharya image" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jasmine Bajracharya</h5><span class="small text-uppercase text-muted">Team Member</span>
      </div>
  </div><!-- End -->

  <!-- Team item -->
  <div class="col-xl-3 col-sm-6 mb-5">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/102525224?v=4" alt="Prasikshya Baral Image" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Prasikshya Baral</h5><span class="small text-uppercase text-muted">Team Member</span>
      </div>
  </div><!-- End -->
  <!-- team item -->
  <div class="col-xl-3 col-sm-6 mb-5">
    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/Shreyeska_img.jpg" alt="Shreyeska Silwal Image" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h5 class="mb-0">Shreyeska Silwal</h5><span class="small text-uppercase text-muted">Team Member</span>
    </div>
</div><!-- End -->
</div>
</div>


</div>
  

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</html>