<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/stylesheets/blogstyle.css">
</head>
<body>
    
   <div class="blogs">
        <div id="001">
            <h1>EAT HEALTHY DURING PREGNANCY</h1>

            <p>When you're pregnant, you need more of certain nutrients — like protein, iron, folic acid, iodine, and choline. It’s also important to get enough calcium, vitamin D, potassium, and fibre.Making smart food choices can help you have a healthy pregnancy and a healthy baby. Here are some ideas to help you eat healthy during pregnancy.
            </p>
            <h2>Follow a healthy eating routine.</h2>

            <ul>
                <li>Whole fruits — like apples, berries, oranges, mango, and bananas</li>
                <li>Veggies — like broccoli, sweet potatoes, beets, okra, spinach, peppers, and jicama</li>
                <li>Whole grains — like brown rice, millet, oatmeal, bulgur, and whole-wheat bread</li>
                <li>Proteins — like lean meats and chicken, eggs, seafood, beans and lentils, nuts and seeds, and tofu</li>
                <li></li> Low-fat or fat-free dairy — like milk, yoghourt, cheese, lactose-free dairy, and fortified soy beverages (soy milk) or soy yoghourt</li>
                <li>Oils-like vegetable oil, olive oil, and oils in foods like seafood, avocado, and nuts</li> 
            </ul>

            <h2>Get the right amount of calories for you.</h2>
            <p>How many calories you need will change throughout your pregnancy. Most women with a healthy pre-pregnancy weight have the following calorie needs:
                <ul>
                    <li>First trimester (first 12 weeks) — no extra calories</li>
                <li>Second trimester (13 to 26 weeks) — about 340 extra calories a day</li>
                <li>Last trimester (after 26 weeks) — about 450 extra calories a day</li>
                </ul>
                Weight gain is a natural part of pregnancy. How much weight is healthy to gain — and the number of extra calories you’ll need — depends on many things, including how much you weighed before pregnancy. Ask your doctor or midwife how many calories you need and how much weight is healthy for you to gain during pregnancy.
            </p>
            <h2>Make healthy Snacks</h2>
            <p> Examples of healthy snacks include:</p>
           <ul>
            <li>Low-fat or fat-free yogurt with fruit (look for options with no added sugar)</li>
            <li>Whole-grain crackers with peanut butter</li>
            <li>Carrots with hummus</li>
            <li>If you’re feeling sick, try eating dry toast, dry cereal, or saltines.</li>
           </ul>
           <h2>Take a prenatal supplement every day.</h2>
           <p>
            Everyone needs to take prenatal supplements (also called prenatal vitamins) during pregnancy. Talk with your doctor or nurse about a prenatal vitamin that’s right for you.And make sure you get enough of these key nutrients:</p>
            <ul>
                <li>
                    Folic acid helps prevent some birth defects of the brain and spine. Choose a prenatal supplement that has 400 to 800 mcg of folic acid. Learn more about getting enough folic acid.
                </li>
                <li>
                    Iron helps your baby develop, and many women don’t get enough iron during pregnancy. Ask your doctor if you need a prenatal supplement with iron. Learn more about ironThis link is external to health.gov..
                </li>
                <li>
                    Iodine is important for your baby’s brain. If you use salt at home, make sure it’s iodized salt (salt with added iodine). Prenatal supplements may not have iodine — ask your doctor whether you need an iodine supplement.
                </li>
                <li>
                    Choline is also important for your baby’s brain. Choose foods with choline — like low-fat and fat-free dairy, eggs, lean meats, seafood, beans, and lentils. It’s also important to note that many prenatal supplements don’t have choline. If you think you might not be getting enough choline, talk to your doctor.

                </li>
            </ul>
            <h2>Eat 8 to 12 ounces of seafood each week.</h2>
            <p>Fish and shellfish have healthy fats that are good for you and your baby. But some seafood is high in mercury, a metal that can harm your baby’s development. It’s a good idea to eat seafood that’s high in healthy fats but lower in mercury.
            </p>
            <h2>Don’t eat certain foods.
                These foods may have bacteria in them that can hurt your baby. Stay away from:</h2>
            <ul>
                <li>Raw (uncooked) or rare (undercooked) fish or shellfish, like sushi or raw oysters</li>
                <li>Raw or rare meats, poultry, or eggs</li>
                <li> Unpasteurized juice, milk, or cheese — make sure it says “pasteurised” on the label</li>
                <li> Lunch or deli meats, smoked seafood, and hot dogs — unless they’re heated until steaming hot (165 °F, or degrees Fahrenheit)</li>
                 <li>Prepared meat or seafood salads like ham salad, chicken salad, or tuna salad</li> 
                <li>  Raw sprouts, including alfalfa, clover, radish, and mung bean sprouts</li>
            </ul>
        </div>
    </div>
        <!-- <%}%> -->
        <!-- Second blog
        <%if (blog_id==="002"){%>
        <div id="002">
            <h1>Post partum care</h1>

            <p>When you're pregnant, you need more of certain nutrients — like protein, iron, folic acid, iodine, and choline. It’s also important to get enough calcium, vitamin D, potassium, and fibre.Making smart food choices can help you have a healthy pregnancy and a healthy baby. Here are some ideas to help you eat healthy during pregnancy.
            </p>
            <h2>Follow a healthy eating routine.</h2>

            <ul>
                <li>Whole fruits — like apples, berries, oranges, mango, and bananas</li>
                <li>Veggies — like broccoli, sweet potatoes, beets, okra, spinach, peppers, and jicama</li>
                <li>Whole grains — like brown rice, millet, oatmeal, bulgur, and whole-wheat bread</li>
                <li>Proteins — like lean meats and chicken, eggs, seafood, beans and lentils, nuts and seeds, and tofu</li>
                <li></li> Low-fat or fat-free dairy — like milk, yoghourt, cheese, lactose-free dairy, and fortified soy beverages (soy milk) or soy yoghourt</li>
                <li>Oils-like vegetable oil, olive oil, and oils in foods like seafood, avocado, and nuts</li> 
            </ul>

            <h2>Get the right amount of calories for you.</h2>
            <p>How many calories you need will change throughout your pregnancy. Most women with a healthy pre-pregnancy weight have the following calorie needs:
                <ul>
                    <li>First trimester (first 12 weeks) — no extra calories</li>
                <li>Second trimester (13 to 26 weeks) — about 340 extra calories a day</li>
                <li>Last trimester (after 26 weeks) — about 450 extra calories a day</li>
                </ul>
                Weight gain is a natural part of pregnancy. How much weight is healthy to gain — and the number of extra calories you’ll need — depends on many things, including how much you weighed before pregnancy. Ask your doctor or midwife how many calories you need and how much weight is healthy for you to gain during pregnancy.
            </p>
            <h2>Make healthy Snacks</h2>
            <p> Examples of healthy snacks include:</p>
           <ul>
            <li>Low-fat or fat-free yogurt with fruit (look for options with no added sugar)</li>
            <li>Whole-grain crackers with peanut butter</li>
            <li>Carrots with hummus</li>
            <li>If you’re feeling sick, try eating dry toast, dry cereal, or saltines.</li>
           </ul>
           <h2>Take a prenatal supplement every day.</h2>
           <p>
            Everyone needs to take prenatal supplements (also called prenatal vitamins) during pregnancy. Talk with your doctor or nurse about a prenatal vitamin that’s right for you.And make sure you get enough of these key nutrients:</p>
            <ul>
                <li>
                    Folic acid helps prevent some birth defects of the brain and spine. Choose a prenatal supplement that has 400 to 800 mcg of folic acid. Learn more about getting enough folic acid.
                </li>
                <li>
                    Iron helps your baby develop, and many women don’t get enough iron during pregnancy. Ask your doctor if you need a prenatal supplement with iron. Learn more about ironThis link is external to health.gov..
                </li>
                <li>
                    Iodine is important for your baby’s brain. If you use salt at home, make sure it’s iodized salt (salt with added iodine). Prenatal supplements may not have iodine — ask your doctor whether you need an iodine supplement.
                </li>
                <li>
                    Choline is also important for your baby’s brain. Choose foods with choline — like low-fat and fat-free dairy, eggs, lean meats, seafood, beans, and lentils. It’s also important to note that many prenatal supplements don’t have choline. If you think you might not be getting enough choline, talk to your doctor.

                </li>
            </ul>
            <h2>Eat 8 to 12 ounces of seafood each week.</h2>
            <p>Fish and shellfish have healthy fats that are good for you and your baby. But some seafood is high in mercury, a metal that can harm your baby’s development. It’s a good idea to eat seafood that’s high in healthy fats but lower in mercury.
            </p>
            <h2>Don’t eat certain foods.
                These foods may have bacteria in them that can hurt your baby. Stay away from:</h2>
            <ul>
                <li>Raw (uncooked) or rare (undercooked) fish or shellfish, like sushi or raw oysters</li>
                <li>Raw or rare meats, poultry, or eggs</li>
                <li> Unpasteurized juice, milk, or cheese — make sure it says “pasteurised” on the label</li>
                <li> Lunch or deli meats, smoked seafood, and hot dogs — unless they’re heated until steaming hot (165 °F, or degrees Fahrenheit)</li>
                 <li>Prepared meat or seafood salads like ham salad, chicken salad, or tuna salad</li> 
                <li>  Raw sprouts, including alfalfa, clover, radish, and mung bean sprouts</li>
            </ul>
        </div>
   </div>
   <%}%>

   Third blog -->
   <!-- <%if (blog_id==="003"){%>
    <div id="003">
        <h1>Maternal Health</h1>
        <p>Maternal health refers to the health of women during pregnancy, childbirth and the postnatal period. Each stage should be a positive experience, ensuring women and their babies reach their full potential for health and well-being. Although important progress has been made in the last two decades, about 287 000 women died during and following pregnancy and childbirth in 2020. This number is unacceptably high.The most common direct causes of maternal injury and death are excessive blood loss, infection, high blood pressure, unsafe abortion, and obstructed labour, as well as indirect causes such as anemia, malaria, and heart disease.Most maternal deaths are preventable with timely management by a skilled health professional working in a supportive environment. Ending preventable maternal death must remain at the top of the global agenda. At the same time, simply surviving pregnancy and childbirth can never be the marker of successful maternal health care. It is critical to expand efforts reducing maternal injury and disability to promote health and well-being.Every pregnancy and birth is unique. Addressing inequalities that affect health outcomes, especially sexual and reproductive health and rights and gender, is fundamental to ensuring all women have access to respectful and high-quality maternity care.</p>
    </div>
    <%}%> --> -->
</body>
</html>