<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Page</title>
    <link rel="stylesheet"  href="/stylesheets/community.css">
</head>
<body>
        <nav>
            <div class="logo"><img src="/images/logo.jpg" class="image"></div>
            <ul>
                <li><a href="/community">Community Home</a></li>
                <li><a href="/forum">Forums</a></li>
            </ul>
            
        </nav>
        <section class="welcome-section">
            <div class="welcome-message">
                <h1>
                    Join our community of expecting mothers. <br> Together, let's share the joy and support each other on this incredible journey. 
                </h1>
                <a href="./signup" class="cta-button">Join Us Today</a>
            </div>
        </section>
        <div class="image-slider">
           
            <img src="/images/n (1).jpg" alt="text1">
            <img src="/images/a.jpg.jpg" alt="text2">
            <img src="/images/w.jpg.jpg" alt="text3">
            <img src="/images/a.jpg.jpg" alt="text4">
            <img src="/images/breastfeeding.jpg" alt="Image 1">
            <img src="/images/feet.jpg" alt="Image 2">
            <img src="/images/motherbaby.jpg" alt="Image 3">
            <img src="/images/smile.jpg" alt="image 4">
            <img src="/images/eating.jpg" alt="image5">
            <img src="/images/read.jpg" alt="image6">
            <img src="/images/healthy (1).jpg" alt="image7">
            <img src="/images/a.jpg.jpg" alt="text5">
            <img src="/images/a.jpg.jpg" alt="text6">
            <img src="/images/m.jpg.jpg" alt="text7">
            <img src="/images/a.jpg.jpg" alt="text8">

           
            </div>
            

</body>
</html>