<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ftrim</title>
	    <link rel='stylesheet' href='/stylesheets/calcstyle.css' />

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <style>
	* {
	  box-sizing: border-box;
	}
	
	/* Add a gray background color with some padding */
	body {
	  background-image: url(/images/resultbcg.png);
	}
	
	/* Header/Blog Title */
	.header {
		padding: 50px;
	  font-size: 40px;
	  text-align: center;
	  background-image: url(/images/3.png);
	  background-size: cover;
	  width:100%;
	  height: 550px;
	}
	
	/* Create two unequal columns that floats next to each other */
	/* Left column */
	.leftcolumn {   
	  float: left;
	  width: 50%;
	}
	
	/* Right column */
	.rightcolumn {
	  float: left;
	  width: 50%;
	  padding-left: 20px;
	}
	
	
	
	/* Add a card effect for articles */
	.card {
	   background-color: white;
	   padding: 20px;
	   margin-top: 20px;
	   opacity: 0.8;
	}
	
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	/* Footer */
	.footer {
	  padding: 20px;
	  text-align: center;
	  background: #C29C9A;
	  margin-top: 20px;
	}
	
	/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 800px) {
	  .leftcolumn, .rightcolumn {   
		width: 100%;
		padding: 0;
	  }
	}
	</style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	
<div class="nav-separate">
    <ul class="nav justify-content-end py-3" >
		<!-- <li class="nav-item-logo">
			<a href="/"><img src="/images/navlogo.png" alt="logo" class="logo"></a>
		</li> -->
	
		<!-- NAVIGATION BAR -->
		<!-- <li class="nav-item-logo">
		  <a href="/"><img src="/images/logonewtry.png" alt="logo" class="logo"></a>
	  </li> -->
		  <li class="nav-item">
			<a class="nav-link active" href="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/aboutus">About us</a>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link" href="community">Community</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/calculator" tabindex="-1" aria-disabled="true">Tracker</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">Login/Sign UP</a>
		  </li>
		</ul>

	</div>

		<!-- BLOG -->

		<div class="header">
			
		  </div>
		  
		  <div class="row">
			<div class="leftcolumn">
			  <div class="card">
				<h2>Week 1 & 2</h2>
				<h5>Baby Conceived</h5>
				<h3>What changes are occurring with your body?</h3>
				<p>Your period has just begun, and you may be thinking about becoming pregnant. Your ovulation time is the most important thing you need to understand when trying to conceive. Ovulation occurs when a mature egg is released from the ovary, pushed down the fallopian tube, and available to be fertilized.</p>
				
		  <p>The lining of the uterus has thickened to prepare for a fertilized egg. If conception does not occur, the uterine lining will be shed. The shedding of an unfertilized egg and the uterine wall occurs during menstruation.</p>
		  
		  <p><b>There are also several facts that you need to know concerning ovulation:</b></p>
		  <ul>
		  <li>An egg lives <b>12-24 hours</b> after leaving the ovary.
		  <li>Normally, only one egg is released each time you ovulate.
		  <li>Ovulation can be affected by stress, illness, travel, and significant changes in weight, exercise, and sleeping patterns.
		  <li>Some women may experience light spotting during ovulation. This is not considered to be an actual period, but rather an ovulatory bleeding.</p>
		  <p><h3>
		  What is happening with your baby?</h3></p>
		  <p>
		  Nothing is happening yet, but be patient while the stage is being set. Before long, an egg will be released and will be available to be fertilized.<p>
			  </div>
			  
			  <div class="card">
				<h2>Week 4</h2>
				<h5>Positive Pregnancy Test</h5>
		  
		  <h3>What is happening with your baby at 4 weeks pregnant?</h3>
		  <p>You may begin to exhibit some early pregnancy symptoms such as breast tenderness, headaches, lower backaches, and nausea. It is important to know that many early pregnancy symptoms are similar to those you may experience before your period. Other women may not have any pregnancy symptoms except for a late or irregular period. If you have missed your period, then you could take a pregnancy test. This would be the earliest that a home pregnancy test can detect pregnancy.</p>
		  <h3>What is happening with your baby when you are 4 weeks pregnant?</h3> 
		  <p>
		  There are three layers to your baby- the ectoderm, mesoderm, and endoderm. These three layers will form the baby’s organs and tissues. The ectoderm will become the nervous system (including the brain), skin, hair, nails, mammary glands, sweat glands, and enamel for the teeth. The mesoderm will become the heart, circulatory system, skeleton, connective tissues, blood system, urogenital system, and the muscles. The endoderm will house the lungs and develops into the lining of the gastrointestinal tract, the liver, pancreas, and thyroid. Arm and leg buds begin developing at this point, although they are not clearly distinguishable. The placenta has also begun to form and is producing some important hormones including hCG. There is a movement of rudimentary blood through the main vessels.</p>
		  
		  
		  <h3>How big is your baby when you are four weeks pregnant?</h3>
		  <p>
		  Babies are still very small at this point and <b>measure about 0.078 inches (1.98 millimeters) in length.</b></p>
			  </div>
			</div>
			
			<div class="rightcolumn">
			  <div class="card">
				<h2>Week 3</h2>
				<h5>Implantation occurs</h5>
		  <h3>What changes are occurring with your body when you are 3 weeks pregnant?</h3> 
		  <p>
		  Many women do not notice any changes, but some women experience mild cramping and increased vaginal discharge around ovulation. During ovulation, the ovaries release a mature egg that begins to travel through the fallopian tubes towards the uterus. Sperm travels through the uterus to fertilize the egg within the fallopian tube. Only a single sperm can fertilize an egg. Both the sperm and the egg contain 23 chromosomes that will combine to make up the zygote which contains a total of 46 chromosomes. At conception, your baby’s gender, eye color, hair color, and many other features have already been determined. The zygote continues to travel through the fallopian tubes into the uterus where it will attach itself to the uterine wall. For additional information on ovulation please read Ovulation Frequently Asked Questions or Understanding Ovulation.</p>
		  
		  <h3>What is happening with your baby at 3 weeks pregnant?</h3>
		  <p>The blastocyst is growing and multiplying rapidly at this point. Part of the blastocyst will become the placenta, which will produce hCG (human chorionic gonadotropin). This is the pregnancy hormone that is detected by pregnancy tests. Amniotic fluid is also collecting around the cells and will protect and cushion your baby throughout your pregnancy. Significant aspects of fetal development begin during this week, including the development of the brain, spinal cord, heart, and gastrointestinal tract.</p>
		  
		  <h3>How big is your baby when you are three weeks pregnant?</h3>
		  <p>
		  The embryo in your body is very small and actually looks more like a group of cells than a baby. It is the <b>size of the head of a pin</b> and <b>approximately .0019 inches (.048 mm) long.</b> It could be seen by the human eye if it were not inside your body.</p>
			  </div>
			  <div class="card">
				<h2>Week 6</h2>
				<h5>Implantation occurs</h5>
		  <h3>What changes are occurring with your body during the 6th week of pregnancy?</h3> 
		  <p>
		  Some pregnant women may notice that they have gained a few pounds by this point, while others may have actually lost weight. You may begin noticing changes in your breasts including tenderness, darkening of the areolas, and swelling. You may also begin experiencing heartburn, which is common during pregnancy. Some women experience light bleeding during pregnancy. This spotting (spots of blood on your underwear or toilet paper after using the restroom) may be accompanied by light cramping. This is not necessarily a reason for concern. However, you will want to monitor the spotting, and let your doctor know about it at your first appointment. You would also want to consult your doctor if the bleeding becomes heavy like a normal period or if the cramps are worse than normal period cramps. This could be a sign of a miscarriage.</p>
		  
		  <h3>What is happening with your baby during the 6th week of pregnancy?</h3>
		  <p>Your baby is rapidly growing. The neural tube, from which the brain and spinal cord will develop, is closing along baby’s back.  The heart and other organs also are starting to form and the heart begins to beat. Development of the lungs, jaw, nose, and palate have begun. The hand and feet buds have webbed-like structures that will become the fingers and toes. A vaginal ultrasound may be able to detect an audible heartbeat at this time.</p>
		  
		  <h3>How big is your baby at six weeks?</h3>
		  <p>
		  Your baby is about <b>¾ of an inch (19.05 millimeters) in length.</b></p>
			  </div>
			  
			</div>
		  </div>
		  
		  <div class="footer">
			End of First Trimester

		  </div>
		</body>
		</html>