<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/loginstyle.css">
</head>
<body>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
          <img src="/images/logintry-transformed.jpeg" alt="login image" class="login_img">
        </div>

        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="form-comtainer">
                <h2>SignUp</h2>
                <form action="/signup" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="password" requires>
                    </div>
                    <button type="submit" class="submit-btn">Signup</button>
                </form>
                <p>Already Have an account? <a href="/login">Login</a></p>
            </div>
        </div>
    </div>
   
</body>
</html>