<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ftrim</title>
	    <link rel='stylesheet' href='/stylesheets/calcstyle.css' />

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <style>
	* {
	  box-sizing: border-box;
	}
	
	/* Add a gray background color with some padding */
	body {
	  background-image: url(/images/resultbcg.png);
	}
	
	/* Header/Blog Title */
	.header {
		padding: 50px;
	  font-size: 40px;
	  text-align: center;
	  background-image: url(/images/2.png);
	  background-size: cover;
	  width:100%;
	  height: 550px;
	}
	
	/* Create two unequal columns that floats next to each other */
	/* Left column */
	.leftcolumn {   
	  float: left;
	  width: 50%;
	}
	
	/* Right column */
	.rightcolumn {
	  float: left;
	  width: 50%;
	  padding-left: 20px;
	}
	
	
	
	/* Add a card effect for articles */
	.card {
	   background-color: white;
	   padding: 20px;
	   margin-top: 20px;
	   opacity: 0.8;
	}
	
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	/* Footer */
	.footer {
	  padding: 20px;
	  text-align: center;
	  background: #C29C9A;
	  margin-top: 20px;
	}
	
	/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 800px) {
	  .leftcolumn, .rightcolumn {   
		width: 100%;
		padding: 0;
	  }
	}
	</style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	
<div class="nav-separate">
    <ul class="nav justify-content-end py-3" >
		<!-- <li class="nav-item-logo">
			<a href="/"><img src="/images/navlogo.png" alt="logo" class="logo"></a>
		</li> -->
	
		<!-- NAVIGATION BAR -->
		<!-- <li class="nav-item-logo">
		  <a href="/"><img src="/images/logonewtry.png" alt="logo" class="logo"></a>
	  </li> -->
		  <li class="nav-item">
			<a class="nav-link active" href="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/aboutus">About us</a>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link" href="/community">Community</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/calculator" tabindex="-1" aria-disabled="true">Tracker</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">Login/Sign UP</a>
		  </li>
		</ul>

	</div>

		<!-- BLOG -->

		<div class="header">
			
		  </div>
		  
		  <div class="row">
			<div class="leftcolumn">
			  <div class="card">
				<h2>Week 13</h2>
				<h5>Miscarrige risk decreases</h5>
				<h3>What changes are occurring with your body during the 13th week of pregnancy?</h3>
				<p>You may not have begun to wear maternity clothes yet, but you have most likely replaced tight-fitting clothes with more comfortable clothing. Stretch marks may be appearing on your abdomen, breasts, hips, or buttocks. Your morning sickness may begin to subside at this point, but you may be experiencing more frequent heartburn. You may also notice some distinct changes in your breasts. By now your breasts might have become larger and may feel lumpy or nodular, which is caused by the mammary ducts as they begin to prepare for milk production. You may also have noticed veins appearing right under the skin on your breasts. Additionally, colostrum begins to form during the second trimester; this is the first stage of breast milk, and it can be expressed from the nipple when massaged.</p>
		  
		 
		  <p><h3>
            What is happening with your baby during the 13th week of pregnancy?</h3></p>
		  <p>
            Up until this point, your baby’s head has been the largest part of his/her body, but that is beginning to change. Your baby’s head is now only about 1/3 of his/her body. Unique fingerprints are now located on the tips of your baby’s fingers. The kidney and urinary tract are completely functional, which allows the amniotic fluid your baby has been swallowing to be excreted. Also, covering your baby’s skin is a fine, soft hair called lanugo.<p>
                <p><h3>
                    How big is your baby during the 13th week of pregnancy?</h3></p>
                    <p>
                        By your thirteenth week of pregnancy, your baby is almost <b>3¾ inches (9.5 centimeters) long </b>and<b> weighs 1¼ ounces (about 35 grams).</b><p>
			  </div>
			  
			  <div class="card">
				<h2>Week 23</h2>
				<h5>Premature baby may survive</h5>
		  
		  <h3>What changes are occurring with your body?</h3>
		  <p>Your uterus now extends about <b>1 ½ inch (3.8 cm) above your belly button</b>, and your weight gain should be around <b>12 to 15 pounds (5.4 to 6.8 kg)</b>. Friends and family may comment on your size, telling you that you are too big or too small for your gestational age. However, don’t take this personally, and talk with your healthcare provider before making any changes to your diet. Your uterus is sitting directly on top of your bladder, which can cause you to leak fluid into your underwear. Sometimes it can be difficult to distinguish urine from amniotic fluid. If your membranes have ruptured, you will leak amniotic fluid, which can occur with a sudden gush or a constant trickle. Amniotic fluid is odorless; if you notice fluid leaking, try to determine if it smells like urine or if it is odorless. If it does not seem to be urine, call your healthcare provider immediately.</p>
		  <h3>What is happening with your baby?</h3> 
		  <p>
            Your baby is continuing to gain weight. Over the next several weeks, your baby will really begin to fill out. Lanugo, or the fine hair that covers your baby’s body, may darken at this point, allowing it to be seen on an ultrasound. Your baby is also looking more like a newborn.</p>
		  
		  
		  <h3>How big is your baby?</h3>
		  <p>
            Your baby has finally reached a weight of<b> 1 pound (.45 kg)</b> and is approximately <b>11 to 14 inches (28 to 36 cm) long.</b></p>
			  </div>
			</div>
			
			<div class="rightcolumn">
			  <div class="card">
				<h2>Week 18</h2>
				<h5>Gender reveal time</h5>
		  <h3>What changes are occurring with your body at 18 weeks pregnant?</h3> 
		  <p>
            Your figure is continuing to change, and most people can recognize that you are pregnant, especially if you are wearing maternity clothes. However, there are many other changes that are occurring that no one can see. Your cardiovascular system is affected by your pregnancy, and you may experience low blood pressure. This is why it is important to make sure you go from a lying/sitting position to a standing position slowly. This decreases the amount of dizziness that you may experience.</p>
		  
		  <h3>What is happening with your baby?</h3>
		  <p>A protective covering called myelin is beginning to form around your baby’s nerves. This covering will continue to form up until your baby’s first birthday. If you are having a little girl, her fallopian tubes and uterus have positioned themselves in the correct place. If you are having a little boy, his genitals may be noticed on your next ultrasound. However, it is oftentimes difficult to see the genitals, so don’t be surprised if you can’t see them yet.</p>
		  
		  <h3>How big is your baby?</h3>
		  <p>
            Your baby is now about<b> 6.29 inches (16 cm) long</b> and <b>weighs 5 ½ ounces (.16 kg).</b></p>
			  </div>
			  <div class="card">
				<h2>Week 26</h2>
				
		  <h3>What changes are occurring with your body?</h3> 
		  <p>
            The top of your uterus can now be felt about <b> 2 ½ inches (6.3 cm) above your belly button</b>. During the remainder of your pregnancy, you will grow about a <b> ½ inch (1.25 cm) per week </b>. If you have been watching your weight throughout your pregnancy and have been sticking to a balanced diet, your weight gain should be between <b>16 and 22 pounds (7.25 to 10 kg)</b>.</p>
		  
		  <h3>What is happening with your baby during the 6th week of pregnancy?</h3>
		  <p>Your baby is rapidly growing. The neural tube, from which the brain and spinal cord will develop, is closing along baby’s back.  The heart and other organs also are starting to form and the heart begins to beat. Development of the lungs, jaw, nose, and palate have begun. The hand and feet buds have webbed-like structures that will become the fingers and toes. A vaginal ultrasound may be able to detect an audible heartbeat at this time.</p>
		  
		  <h3>How big is your baby?</h3>
		  <p>
            Your baby is approximately <b>13.38 inches (34 cm) long</b> and <b>weighs 2 pounds (0.9 kg).</b></p>
			  </div>
			  
			</div>
		  </div>
		  
		  <div class="footer">
			End of Second Trimester

		  </div>
		</body>
		</html>