<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ftrim</title>
	    <link rel='stylesheet' href='/stylesheets/calcstyle.css' />

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <style>
	* {
	  box-sizing: border-box;
	}
	
	/* Add a gray background color with some padding */
	body {
	  background-image: url(/images/resultbcg.png);
	}
	
	/* Header/Blog Title */
	.header {
		padding: 50px;
	  font-size: 40px;
	  text-align: center;
	  background-image: url(/images/1.png);
	  background-size: cover;
	  width:100%;
	  height: 550px;
	}
	
	/* Create two unequal columns that floats next to each other */
	/* Left column */
	.leftcolumn {   
	  float: left;
	  width: 50%;
	}
	
	/* Right column */
	.rightcolumn {
	  float: left;
	  width: 50%;
	  padding-left: 20px;
	}
	
	
	
	/* Add a card effect for articles */
	.card {
	   background-color: white;
	   padding: 20px;
	   margin-top: 20px;
	   opacity: 0.8;
	}
	
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	
	/* Footer */
	.footer {
	  padding: 20px;
	  text-align: center;
	  background: #C29C9A;
	  margin-top: 20px;
	}
	
	/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 800px) {
	  .leftcolumn, .rightcolumn {   
		width: 100%;
		padding: 0;
	  }
	}
	</style>
</head>
<body>
	<!-- NAVIGATION BAR -->
	
<div class="nav-separate">
    <ul class="nav justify-content-end py-3" >
		<!-- <li class="nav-item-logo">
			<a href="/"><img src="/images/navlogo.png" alt="logo" class="logo"></a>
		</li> -->
	
		<!-- NAVIGATION BAR -->
		<!-- <li class="nav-item-logo">
		  <a href="/"><img src="/images/logonewtry.png" alt="logo" class="logo"></a>
	  </li> -->
		  <li class="nav-item">
			<a class="nav-link active" href="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/aboutus">About us</a>
		  </li>
		  
		  <li class="nav-item">
			<a class="nav-link" href="/community">Community</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/calculator" tabindex="-1" aria-disabled="true">Tracker</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">Login/Sign UP</a>
		  </li>
		</ul>

	</div>

		<!-- BLOG -->

		<div class="header">
			
		  </div>
		  
		  <div class="row">
			<div class="leftcolumn">
			  <div class="card">
				<h2>Week 27</h2>
				<h5>Start talking to your baby</h5>
				<h3>What changes are occurring with your body?</h3>
				<p>By 27 weeks pregnant, you can feel your baby move much more. Some of your baby’s movements could be due to hiccups, while others feel like your baby is participating in an aerobic workout. Many women find these movements comforting, and these often help strengthen the bonding process between mother and child. Many women ask questions concerning how often they should feel their baby move. Later in pregnancy, you may be asked to determine your baby’s kick count, but for now, you just want to make general comparisons. If your baby seems less active than normal, it is important to discuss this with your healthcare provider.</p>
		  
		 
		  <p><h3>
            What is happening with your baby at 27 weeks pregnant?</h3></p>
		  <p>
            Around week 11 your baby’s eyelids became fused, but around the 27th to 28th-week babies can open and close their eyes. Your baby has also developed a regular wake and sleep cycle. Unfortunately, it may not be the same as yours. You may also begin to feel rhythmic movements in your uterus and wonder what is happening. It is likely that your baby has hiccups. This is completely normal and may occur quite frequently during this last part of your pregnancy as your baby’s lungs continue to mature.<p>
                <p><h3>
                    How big is your baby?</h3></p>
                    <p>
                        Your babye is now <b>13 ¾ inches (35 cm) long </b>and<b> weighs 2¼ pounds (1 kg).</b><p>
			  </div>
			  
			  <div class="card">
				<h2>Week 33</h2>
				<h5>Immune system is maturing</h5>
		  
		  <h3>What changes are occurring with your body?</h3>
		  <p>The top of your uterus is a little over <b>5 inches (12.7 cm) from your belly button</b>. Your total weight gain should be between <b>22 and 28 pounds (10 to 12.7 kg)</b>. You may wonder if you will be able to tell when your water breaks (also called rupturing of the membranes). This is the breaking of the fluid-filled sac surrounding the baby. Only <b>1 in 10 women </b>experience a dramatic gush of amniotic fluid, and even then it usually happens at home, oftentimes in bed. Other women only notice a small trickle. Sometimes the amniotic sac breaks or leaks before labor begins. It is common to be uncertain about whether leaking fluid is amniotic fluid or urine. Amniotic fluid is clear and odorless. If you think your membranes are leaking or have ruptured, call your health care provider. Until you see your physician or midwife, do not use tampons, have sexual intercourse, or do anything that would introduce bacteria to your vagina once your water has broken. Let your doctor know if the fluid is anything other than clear and odorless, particularly if is greenish or foul-smelling because this could be a sign of infection. Most doctors will evaluate you and your baby as soon as the membranes rupture due to the risk of developing an infection. Y our doctor may also decide to induce labor at this point.</p>
		  <h3>What is happening with your baby?</h3> 
		  <p>
            Your baby’s skin is beginning to look less red and wrinkled. Fat stores are continuing to be deposited under the skin. The bones are all beginning to harden except for the skull because the skull needs to remain soft and pliable for delivery.</p>
		  
		  
		  <h3>How big is your baby?</h3>
		  <p>
            Your baby is approximately <b>16 ½ inches (42 cm) long</b> and <b>weighs between 4 ½ to 5 pounds (2 to 2.3 kg)</b>. Because growth can vary for each baby during this time, your baby may be a little off from these measurements, which in most cases is completely normal.</p>
			  </div>
			</div>
			
			<div class="rightcolumn">
			  <div class="card">
				<h2>Week 29</h2>
				<h5>Baby can breathe</h5>
		  <h3>What changes are occurring with your body during the 29th week of pregnancy?</h3> 
		  <p>
            At 29 weeks pregnant, your total pregnancy weight gain at this point should be between <b>19 and 25 pounds (8.6 to 11.3 kg)</b>. The top of your uterus can be felt somewhere between <b> 3 ½ to 4 inches (8.9 to 10 cm)</b> above your belly button.</p>
		  
		  <h3>What is happening with your baby?</h3>
		  <p>Your baby is rapidly growing at this point. Obviously, your baby is continuing to gain weight, and his/her head is also growing. This is due to rapid brain development that began in week 28. Muscles and lungs are also continuing to mature. Because there is so much development occurring at 29 weeks, it is imperative that you get plenty of nutrients and rest. Make sure that you are getting adequate amounts of protein, vitamin C, folic acid, iron, and calcium. A list of recommendations can be found at Essential Nutrients and Vitamins for pregnancy. If you still have questions regarding nutrition and appropriate amounts of vitamins to take, contact your health care provider.</p>
		  
		  <h3>How big is your baby?</h3>
		  <p>
            Your baby is now over<b>  14 ½ inches (37 cm) and weighs 2 ¾ pounds (1.25 kg).</b> </p>
			  </div>
			  <div class="card">
				<h2>Week 37</h2>
                <h5>Baby is considered full term</h5>
				
		  <h3>What changes are occurring with your body at 37 weeks pregnant?</h3> 
		  <p>
            If you have been measuring your uterus throughout your pregnancy, you may notice a few week-to-week changes at 37 weeks pregnant. You will most likely not experience significant weight gain from this point on. Your total weight gain should be around <b>25 to 35 pounds (11.3 to 15.9 kg)</b>. The amount of amniotic fluid begins to decline around 37 weeks. Braxton Hicks contractions also increase in frequency. As your body begins to prepare for labor, your cervix will begin to dilate and efface. You will also pass the mucus plug, which blocked the opening of the cervix to prevent bacteria from entering during your pregnancy. Passing a mucus plug is a sign that your cervix is dilating, and your body is starting to prepare for birth. Labor could be hours, days, or even weeks away as the cervix gradually opens.</p>
		  
		  <h3>What is happening with your baby?</h3>
		  <p>Even though your baby is considered full-term after after your 37th week of pregnancy, it is still better in most situations for the baby to remain in the womb until ready. If your baby is not in the head-down position, you should talk with your health care provider and partner regarding the various options that are available. There are several methods to help babies turn, including both natural and medical techniques. For more information regarding breech presentation and turning your baby, please see breech births.</p>
		  
		  <h3>How big is your baby?</h3>
		  <p>
            Your baby is probably about <b>18 inches (45.7 cm) long</b> and weighs <b>6 to 7 pounds (2.7 to 3.2 kg).</b></p>
			  </div>
			  
			</div>
		  </div>
		  
		  <div class="footer">
			End of Third Trimester

		  </div>
		</body>
		</html>